<!-- templates/partials/providers_form.html -->

<fieldset>
    <legend>{{ title }}</legend>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='provider-title'>Title</label><br>
        <input id='provider-title' type='text' name='title' value='{{ provider.title }}' />
    </div>
    <!-- NAME -->
    <div class='form-group'>
        <label for='name'>Name</label><br>
        <input id='name' type='text' name='name' value='{{ provider.name }}' />
    </div>
    <!-- LOCATION -->
    <div class='form-group'>
        <label for='location'>Practice location</label><br>
        <input id='location' type='text' name='loaction' value='{{ provider.location }}' />
    </div>
    <!-- PHONE -->
    <div class='form-group'>
        <label for='phone'>Practice phone number</label><br>
        <input id='phone' type='text' name='phone' value='{{ provider.phone }}' />
    </div>
</fieldset>

<!-- BUTTON -->
<p>
    <button type='submit'>Save profile</button>
</p>