<!-- templates/providers_edit.html -->
{% extends 'base.html' %}

{% block content %}
<form method='POST' action='/providers/{{provider._id}}'>
    <fieldset>
        <legend>Edit profile</legend>
        <!-- TITLE -->
        <p>
            <label for='provider-title'>Title</label><br>
            <input id='provider-title' type='text' name='title' value='{{ provider.title }}' />
        </p>
        <!-- NAME -->
        <p>
            <label for='name'>Name</label><br>
            <input id='name' type='text' name='name' value='{{ provider.name }}' />
        </p>
        <!-- LOCATION -->
        <p>
            <label for='location'>Practice location</label><br>
            <input id='location' type='text' name='loaction' value='{{ provider.location }}' />
        </p>
        <!-- PHONE -->
        <p>
            <label for='phone'>Practice phone number</label><br>
            <input id='phone' type='text' name='phone' value='{{ provider.phone }}' />
        </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Save profile</button>
    </p>
</form>
{% endblock %}